<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.2">

    <!-- Module Properties -->
    <id>@MODULE_ID@</id>
    <name>@MODULE_NAME@</name>
    <version>@MODULE_VERSION@</version>
    <package>@MODULE_PACKAGE@</package>
    <author>Thoughtworks</author>
    <description>@MODULE_DESCRIPTION@</description>
    <updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
    <require_version>${openMRSVersion}</require_version>
    <!-- / Module Properties -->

    <require_modules>
        <!-- <require_module version="2.0">org.openmrs.module.webservices.rest</require_module> -->
    </require_modules>

    <!-- Module Activator -->
    <activator>org.openmrs.module.fhirwebservices.FHIRActivator</activator>


    <!-- Adds link to admin page -->
    <!--<extension>-->
        <!--<point>org.openmrs.admin.list</point>-->
        <!--<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>-->
    <!--</extension>-->

    <!--<aware_of_modules>-->
        <!--<aware_of_module version="1.1-SNAPSHOT">org.openmrs.module.allergyapi</aware_of_module>-->
        <!--<aware_of_module>org.openmrs.module.legacyui</aware_of_module>-->
    <!--</aware_of_modules>-->

    <!--&lt;!&ndash; Maps hibernate file's, if present &ndash;&gt;-->
    <!--<mappingFiles>-->

        <!--FHIR.hbm.xml-->

    <!--</mappingFiles>-->

    <servlet>
        <servlet-name>fhirServlet</servlet-name>
        <servlet-class>org.openmrs.module.fhirwebservices.server.FhirRESTServer</servlet-class>

    </servlet>
    <filter>
        <filter-name>forwardingFilterr</filter-name>
        <filter-class>org.openmrs.module.fhirwebservices.server.ForwardingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>forwardingFilterr</filter-name>
        <url-pattern>/ws/fhir/*</url-pattern>
    </filter-mapping>

</module>

